node_modules
/src/node_modules
dist/
test
build/
/src/unpackage
uni.scss
/src/node_modules
/src/api/MockModel.js
/src/config/config.js
/src/static/
/src/common/
/src/lib/
*.md
*.json
*.ttf
*.scss
pages.json