        ::-webkit-scrollbar {
            width: 11px;
            height: 11px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #da1a8a;
            border: 2px solid transparent;
            background-clip: padding-box;
        }